*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#base-calculadora
{
    display: flex;
    background-color: rgb(223, 223, 223);
    height: 300px;
    width: 300px;
    margin: auto;
    border-radius: .9em;
    border: transparent;
}
#pantalla
{
    background-color: darkseagreen;
    height: 60px;
    width: 100%;
    border-radius: .9em;
    border: transparent;
    margin: 10px;
    text-align: end;
    font-size: 20px;
}
h1
{
    text-align: center;
}