*
{
    margin: 0;
    padding: 0;
}
html
{
    height: 100%;
}
body
{
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: repeating-linear-gradient(45deg, rgba(0,0,0,0.05) 0px, rgba(0,0,0,0.05) 2px,transparent 2px, transparent 4px),linear-gradient(0deg, rgb(49,161,179),rgb(187, 235, 205));
    height: 100%;
    align-items: center;
}
.base-calculadora
{
    display: grid;
    grid-template-rows: .5fr 2fr;
    grid-template-columns: 1fr;
    background-color: darkcyan;
    height: 370px;
    width: 270px;
    border: transparent;
}
.pantalla
{
    background-color: rgb(176, 207, 207);
    border: transparent;
    margin: 5px;
    text-align: end;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.pantalla label
{
    margin-right: 10px;
}
.controles
{
    display: grid;
    grid-template-columns: .5fr .5fr .5fr .5fr;
    grid-template-rows: .26fr .26fr .26fr .26fr .26fr;
    grid-gap: 5px;
    margin: 10px 5px;
}
.operations
{
    grid-column: 4;
    background-color: rgb(210, 236, 236);
}
#igual
{
    background-color: rgb(210, 236, 236);
}
.row01
{
    background-color: rgb(210, 236, 236);
    grid-row: 1;
    grid-column: 1/4;
}
.row02
{
    grid-row: 2;
    background-color: rgb(169, 228, 230);
}
.row03
{
    grid-row: 3;
    background-color: rgb(169, 228, 230);
}
.row04
{
    grid-row: 4;
    background-color: rgb(169, 228, 230);
}
.row05
{
    grid-row: 5;
    grid-column: 1/4;
    background-color: rgb(169, 228, 230);
}
.controles button
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.4em;
    border: transparent;
    font-weight: bold;
    cursor: pointer;
}
.controles button:focus
{
    outline: none;
}
.controles button:hover
{
    transition: all 5ms;
    background-color: rgb(190, 250, 252);
}
h1
{
    margin: 20px 0;
    text-align: center;
}